.container1, .container2{
    margin: 0 auto;
    width: 500px;
    padding: 15px;
}
.container1{
    background-color: #fd267a;
}
.container2{
    background-color: white;
}
.image{
    background-color: #fd267a;
}
.description, .match{
    background-color: white;
}
.photo{
    height: 470px;
}
img{
    width: 100%;
    position: relative;
}
.svg{
    position: absolute;
    display: inline-block;
    z-index: 1;
    width: 2%;
    left: 64%;
    top: 73%;
    background-color: #fd267a;
    border-radius: 25px;
    border: solid 2px;
}
.no, .yes{
    width: 5%;
    background-color: #fd267a;
    border-radius: 12px;
}
.match{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}